<?xml version="1.0" encoding="utf-8" ?>

<phpdox xmlns="http://xml.phpdox.net/config">
 <project name="jentest" source="${basedir}/src" workdir="${basedir}/build/api/xml">
  <collector backend="parser">
   <include mask="*.php" />
   <exclude mask="*Autoload.php" />
  </collector>

  <generator output="${basedir}/build/api">
   <build engine="html" enabled="true" output="html"/>
  </generator>
 </project>
</phpdox>
